/* You can add global styles to this file, and also import other style files */
/*Imports*/
@import url("https://use.typekit.net/cax3dsj.css");
/*End*/

/*Global styles*/
* {
    padding: 0px 0px 0px;
    margin: 0px 0px 0px;
    -webkit-margin-before: 0px;
    margin-block-start: 0px;
    -webkit-margin-after: 0px;
    margin-block-end: 0px;
    -webkit-margin-start: 0px;
    margin-inline-start: 0px;
    -webkit-margin-end: 0px;
    margin-inline-end: 0px;
    font-family: noto-sans, sans-serif;
    letter-spacing: 0px;
    border: none;
    border-radius: 4px;
    overflow: hidden;
    outline: none;
    transform-origin: 50% 50%;
    -o-transition: all .2s ease-in-out;
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
    -webkit-animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -ms-tap-highlight-color: rgba(0, 0, 0, 0) !important;
    -o-tap-highlight-color: rgba(0, 0, 0, 0) !important;
    -moz-tap-highlight-color: rgba(0, 0, 0, 0) !important;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
    box-sizing: content-box;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    text-decoration: none;
}

body {
    /*Basics*/
    --pure_white: #FFFFFF;
    --pure_black: #000000;
    --light: #FFFFFF;
    --dark: #000000;
    --red: #ED343E;
    --black: #231F20;
    --gray: #EDEDED;
    --white: #FBFBFB;
    /*End*/

    /*Others*/
    --neutral: rgba(0, 0, 0, .04);
    --placeholders: rgba(0, 0, 0, .32);
    --unit_shadow: 6px;
    --unit_shadow_max: 10px;
    --shadow: var(--unit_shadow) var(--unit_shadow) 0px 0px var(--dark);
    --shadow_max: var(--unit_shadow_max) var(--unit_shadow_max) 0px 0px var(--dark);
    --shadow_active: calc(var(--unit_shadow) / 2) calc(var(--unit_shadow) / 2) 0px 0px var(--dark);
    --shadow_max_active: calc(var(--unit_shadow_max) / 2) calc(var(--unit_shadow_max) / 2) 0px 0px var(--dark);
    --borders: rgba(0, 0, 0, .16);
    --lightbox: rgba(255, 255, 255, .88);
    --blur_lightbox: blur(2px);
    --load_element: var(--neutral);
    --max_width_elements_uiux: 512px;
    --max_width: var(--max_width_elements_uiux);
    --mask: rgba(0, 0, 0, 0.48);
    --bg_qudo: #FFFDFA;
    --color_qudo: #4B4B4B;
    --alignment_defect: flex-end;
    --alignment_defect_text: right;
    /*End*/

    /*States*/
    --success: #DCFBE1;
    --warning: #F1E3C1;
    --failed: #F8D4D4;
    --default: #F0F0F0;
    --selected: var(--red);
    --available: #9DC162;
    --occupied: #B53E4E;
    --coming_back: #F3BC44;
    --no_disturb: #8B9450;
    --absent: #740071;
    /*End*/

    /*Margins and paddings*/
    --margin_base: 8px;
    --spacing_xs: calc(var(--margin_base) * 2);
    /*16*/
    --spacing_s: calc(var(--margin_base) * 4);
    /*32*/
    --spacing_m: calc(var(--margin_base) * 6);
    /*48*/
    --spacing_l: calc(var(--margin_base) * 8);
    /*64*/
    --spacing_xl: calc(var(--margin_base) * 10);
    /*80*/
    /*End*/

    --bg: var(--light);

    width: 100%;
    max-width: 1784px;
    height: calc(100vh - 0px);
    color: var(--dark);
    margin: 0px auto;
}

html {
    scroll-behavior: smooth;
    background-color: #FFFFFF;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

html.light {
    background-color: #FFFFFF;
}

body.light {
    /*Basics*/
    --light: #FFFFFF;
    --dark: #000000;
    --black: #231F20;
    --gray: #EDEDED;
    --white: #FBFBFB;

    --load_element: #dadada;
    /*End*/

    /*Others*/
    --neutral: rgba(0, 0, 0, .04);
    --borders: rgba(0, 0, 0, .16);
    --placeholders: rgba(0, 0, 0, .32);
    --lightbox: rgba(255, 255, 255, .80);
    /*End*/
}

html.dark {
    background-color: #000000;
}

body.dark {
    /*Basics*/
    --light: #000000;
    --dark: #F0F0F0;
    --black: #F0F0F0;
    --gray: #3C3C3B;
    --white: #2E2E2E;
    /*End*/

    /*Others*/
    --neutral: rgba(255, 255, 255, .04);
    --borders: rgba(255, 255, 255, .16);
    --placeholders: rgba(255, 255, 255, .32);
    --lightbox: rgba(0, 0, 0, .88);
    /*End*/
}

@media (min-width: 720px) {}

@media (min-width: 1152px) {
    body {
        --alignment_defect: flex-start;
        --alignment_defect_text: left;
    }
}

/*@media (prefers-color-scheme: dark) {
    html {
        background-color: #000000;
    }

    body {

        --light: #000000;
        --dark: #F0F0F0;
        --black: #F0F0F0;
        --gray: #3C3C3B;
        --white: #2E2E2E;

        --neutral: rgba(255, 255, 255, .04);
        --borders: rgba(255, 255, 255, .16);
        --placeholders: rgba(255, 255, 255, .32);
        --lightbox: rgba(0, 0, 0, .80);
    }

    img,
    video {
        -webkit-filter: brightness(.8) contrast(1.2);
        filter: brightness(.8) contrast(1.2);
    }
}*/

::-webkit-scrollbar {
    display: none;
    width: var(--margin_base);
    height: var(--margin_base);
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--red);
    border: 2px solid var(--light);
    -o-border-radius: 400px;
    -webkit-border-radius: 400px;
    -moz-border-radius: 400px;
    -ms-border-radius: 400px;
    border-radius: 400px;
}

h1,
h2,
h3,
.title,
p.title {
    display: flex;
    align-content: center;
    align-items: center;
    font-family: mokoko, serif;
    font-weight: 900;
    font-size: 28.6px;
    min-height: 40px;
}

.min_title {
    display: flex;
    align-content: center;
    align-items: center;
    font-family: mokoko, serif;
    font-weight: 900;
    font-size: 17px;
    min-height: 24px;
}

.max_title {
    display: flex;
    align-content: center;
    align-items: center;
    font-family: mokoko, serif;
    font-weight: 900;
    font-size: 34px;
    min-height: 48px;
}

h1::first-letter,
h2::first-letter,
h3::first-letter,
.title::first-letter,
p.title::first-letter,
.min_title::first-letter,
.max_title::first-letter {
    text-transform: uppercase;
}

h4,
h5,
h6,
p,
span,
label,
.text {
    display: flex;
    align-content: center;
    align-items: center;
    font-family: mokoko, serif;
    font-weight: 300;
    font-size: 17px;
    min-height: 24px;
}

.min_text {
    display: flex;
    align-content: center;
    align-items: center;
    font-family: mokoko, serif;
    font-weight: 300;
    font-size: 11.6px;
    min-height: 16px;
}

.max_text {
    display: flex;
    align-content: center;
    align-items: center;
    font-family: mokoko, serif;
    font-weight: 300;
    font-size: 23px;
    min-height: 32px;
}

p {
    margin-bottom: 0px;
    white-space: normal;
    font-size: 17px;
    min-height: 24px;
}

h4::first-letter,
h5::first-letter,
h6::first-letter,
p::first-letter,
span::first-letter,
label::first-letter,
.text::first-letter,
.min_text::first-letter,
.max_text::first-letter {
    text-transform: uppercase;
}

textarea {
    white-space: normal !important;
    font-size: 17px;
    min-height: var(--spacing_m);
}

textarea::first-letter {
    text-transform: uppercase;
}

i,
.icon {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    width: 24px;
    height: 24px;
}

input {
    accent-color: var(--red);
}

tp-writer {
    display: flex !important;
    align-items: flex-end !important;
}

tp-writer .marker {
    position: relative;
    min-height: 17px !important;
    height: 17px;
    top: -4px;
}

/*End*/

/*Diagramming styles*/
@media (min-width: 720px) {}

@media (min-width: 1152px) {
    ::-webkit-scrollbar {
        display: block;
    }
}

/*End*/

/*apps styles*/
.content_ly {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    position: relative;
    width: calc(100% - 0px);
    min-height: calc(100vh - 0px);
}

body.android .content_ly {
    height: calc(100vh - 96px);
    min-height: calc(100% - 0px);
}

app-root {
    width: 100%;
}

app-m-support-st,
app-m-home-hm {
    position: relative;
    width: 100%;
    max-height: 100vh;
}

app-no-found-st,
app-home-hm,
app-chat-hm {
    position: relative;
    width: 100%;
    max-height: 100vh;
}

/*End*/

/*Special styles for components*/
.c__home_hm .body .content .information .text span,
.c__home_hm .body .content .information .text span label,
.c__chat_hm .workspaces .body .list .greetings .hello span,
.c__chat_hm .workspaces .body .sheet .greetings .hello span,
.c__chat_hm .workspaces .body .list .greetings .hello span label,
.c__chat_hm .workspaces .body .sheet .greetings .hello span label {
    font-family: azo-sans-web, sans-serif;
    font-weight: 900;
    margin-left: 4px;
    color: var(--black);
    font-size: 28.6px;
    min-height: 40px;
}

.c__chat_hm .workspaces .body .list .greetings .hello span label,
.c__chat_hm .workspaces .body .sheet .greetings .hello span label {
    color: var(--red);
}

.c__home_hm .body .content .information .text label label {
    color: var(--red);
    margin-left: 0px;
}

.c__chat_hm .task_bar .menu_options .menu_action .menu_action {
    display: block;
}

.c__chat_hm .workspaces .body .list .greetings .hello .marker,
.c__chat_hm .workspaces .body .sheet .greetings .hello .marker,
.c__chat_hm .workspaces .body .list .greetings .information .marker,
.c__chat_hm .workspaces .body .sheet .greetings .information .marker {
    display: none;
}

/* End*/

/* Animations*/
@-webkit-keyframes fade_in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade_in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fade_in_up {
    from {
        opacity: 0;
        -o-transform: translate3d(0, 100%, 0);
        -webkit-transform: translate3d(0, 100%, 0);
        -moz-transform: translate3d(0, 100%, 0);
        -ms-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        -o-transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fade_in_up {
    from {
        opacity: 0;
        -o-transform: translate3d(0, 100%, 0);
        -webkit-transform: translate3d(0, 100%, 0);
        -moz-transform: translate3d(0, 100%, 0);
        -ms-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        -o-transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes fade_in_down {
    from {
        opacity: 0;
        -o-transform: translate3d(0, -100%, 0);
        -webkit-transform: translate3d(0, -100%, 0);
        -moz-transform: translate3d(0, -100%, 0);
        -ms-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    to {
        opacity: 1;
        -o-transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fade_in_down {
    from {
        opacity: 0;
        -o-transform: translate3d(0, -100%, 0);
        -webkit-transform: translate3d(0, -100%, 0);
        -moz-transform: translate3d(0, -100%, 0);
        -ms-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    to {
        opacity: 1;
        -o-transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes fade_in_left {
    from {
        opacity: 0;
        -o-transform: translate3d(-100%, 0, 0);
        -webkit-transform: translate3d(-100%, 0, 0);
        -moz-transform: translate3d(-100%, 0, 0);
        -ms-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }

    to {
        opacity: 1;
        -o-transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fade_in_left {
    from {
        opacity: 0;
        -o-transform: translate3d(-100%, 0, 0);
        -webkit-transform: translate3d(-100%, 0, 0);
        -moz-transform: translate3d(-100%, 0, 0);
        -ms-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }

    to {
        opacity: 1;
        -o-transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes fade_in_right {
    from {
        opacity: 0;
        -o-transform: translate3d(100%, 0, 0);
        -webkit-transform: translate3d(100%, 0, 0);
        -moz-transform: translate3d(100%, 0, 0);
        -ms-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }

    to {
        opacity: 1;
        -o-transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fade_in_right {
    from {
        opacity: 0;
        -o-transform: translate3d(100%, 0, 0);
        -webkit-transform: translate3d(100%, 0, 0);
        -moz-transform: translate3d(100%, 0, 0);
        -ms-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }

    to {
        opacity: 1;
        -o-transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes fade_out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes fade_out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@-webkit-keyframes fade_out_down {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        -o-transform: translate3d(0, 100%, 0);
        -webkit-transform: translate3d(0, 100%, 0);
        -moz-transform: translate3d(0, 100%, 0);
        -ms-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
}

@keyframes fade_out_down {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        -o-transform: translate3d(0, 100%, 0);
        -webkit-transform: translate3d(0, 100%, 0);
        -moz-transform: translate3d(0, 100%, 0);
        -ms-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
}

@-webkit-keyframes fade_out_up {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        -o-transform: translate3d(0, -100%, 0);
        -webkit-transform: translate3d(0, -100%, 0);
        -moz-transform: translate3d(0, -100%, 0);
        -ms-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
}

@keyframes fade_out_up {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        -o-transform: translate3d(0, -100%, 0);
        -webkit-transform: translate3d(0, -100%, 0);
        -moz-transform: translate3d(0, -100%, 0);
        -ms-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
}

@-webkit-keyframes fade_out_left {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        -o-transform: translate3d(-100%, 0, 0);
        -webkit-transform: translate3d(-100%, 0, 0);
        -moz-transform: translate3d(-100%, 0, 0);
        -ms-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}

@keyframes fade_out_left {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        -o-transform: translate3d(-100%, 0, 0);
        -webkit-transform: translate3d(-100%, 0, 0);
        -moz-transform: translate3d(-100%, 0, 0);
        -ms-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}

@-webkit-keyframes fade_out_right {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        -o-transform: translate3d(100%, 0, 0);
        -webkit-transform: translate3d(100%, 0, 0);
        -moz-transform: translate3d(100%, 0, 0);
        -ms-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
}

@keyframes fade_out_right {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        -o-transform: translate3d(100%, 0, 0);
        -webkit-transform: translate3d(100%, 0, 0);
        -moz-transform: translate3d(100%, 0, 0);
        -ms-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
}

/* End*/